{
    "printWidth": 100,
    "tabWidth": 4,
    "singleQuote": false,
    "trailingComma": "es5",
    "bracketSpacing": true,
    "semi": true,
    "useTabs": false,
    "overrides": [
        {
            "files": ["*.json", "*.yml"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
